.contain {
  width: 100%;
}

.myTable {
  height: 400px;
  overflow: auto;
}

table {
  width: 100%;
}

button.mat-raised-button.mat-accent {
  height: fit-content;
  margin-top: 2%;
}

agm-map {
  height: 400px;
}
