<mat-card class="contain" [formGroup]="searchFormGroup" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="10px">
  <mat-form-field>
    <mat-label>Entrez une adresse</mat-label>
    <input matInput placeholder="Placeholder" formControlName="search" />
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
  <button mat-raised-button [disabled]="searchFormGroup.pristine" color="accent" (click)="getVelov()">
    Rechercher
  </button>
</mat-card>
<br />
<agm-map
  [latitude]="lat"
  [longitude]="lng"
  [zoom]="12"
  (mapClick)="onChoseLocation($event.coords.lat, $event.coords.lng)"
>
  <ng-container *ngIf="coordinates.length > 0">
    <agm-marker
      *ngFor="let marker of coordinates"
      [latitude]="marker.lat"
      [longitude]="marker.lng"
      [markerDraggable]="true"
    >
      <agm-info-window [disableAutoPan]="true">
        <br />
        <h3>{{ marker.name }}</h3>
        <div fxLayout="row space-around">
          <mat-icon [matBadge]="marker.available_bikes" matBadgeColor="warn" MatBadgeSize="small"
            >directions_bike</mat-icon
          >
          <mat-icon [matBadge]="marker.available_bikes_stands" matBadgeColor="warn" MatBadgeSize="small"
            >local_parking</mat-icon
          >
        </div>
      </agm-info-window>
    </agm-marker>
    <agm-rectangle [north]="max('lat')" [east]="max('lng')" [south]="min('lat')" [west]="min('lng')"> </agm-rectangle>
  </ng-container>
</agm-map>
<br />
<div class="myTable mat-elevation-z8" *ngIf="stationVelov && stationVelov.length">
  <table mat-table [dataSource]="stationVelov">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.properties.address }}</td>
    </ng-container>

    <ng-container matColumnDef="Velos">
      <th mat-header-cell *matHeaderCellDef>Velos</th>
      <td mat-cell *matCellDef="let element">{{ element.properties.available_bikes }}</td>
    </ng-container>

    <ng-container matColumnDef="Stand">
      <th mat-header-cell *matHeaderCellDef>stands de vélos disponibles</th>
      <td mat-cell *matCellDef="let element">{{ element.properties.available_bike_stands }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
